@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    border: border-box;
}

body{
    font-family: "Kanit", sans-serif;
}

/* HEADER */
header{
  height: 100px;
}

li{
    display: inline;
}

ul{
    display: inline;
}

a{
    text-decoration: none;
    color: black;
}

#nav1{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav2{
    font-weight: 300;
    font-size: 1.6rem;
}

#nav3{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 1.6rem;
    gap: 40px;
}

/* Introduction */
.About{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic{
    border-radius: 200px; 
    height: 350px;
    width: 350px;
    background-image: url(IMG_4545.jpg);
    background-size: cover;
}

#about-me{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#hello{
    font-size: 1.3rem;
    font-weight: 300;
}

#rushabh{   
    font-size: 2.5rem;
    font-weight: 500;
}

#frontend{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
}

#download-contact{
    display: flex;
    gap: 1rem;
}

#download{
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    right: 400px;
    font-weight: bold;
    transition-property: all;
    transition-duration:0.5s ;
}

#download:hover{
    cursor: pointer;
    background-color: #EF233C;
}

#contact{
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    background-color: gray;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
}

#contact:hover{
    background-color: black;
    cursor: pointer;
}   

#social-media-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}   

#linkedin-image{
    height:40px;
    width: 40px;
    border-radius: 40px;
    display: inline-block;
    position: relative;
    top: 1px;
}

#git-hub-image{
    height:40px;
    width: 40px;
    border-radius: 40px;
    display: inline-block;
    position: relative;
    /* margin: 5px; */
}


/* About me */

#know-me-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#know-me{
    font-weight:300;
    font-size: 1.1rem;
}

#me{
    font-size: 3rem;
    font-weight: 500;
}

#about-me-inner{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#about-me-image{
    border-radius: 30px; 
    height: 400px;
    width: 400px;
    display: inline-block;
    position: relative;
    left: 100px;
}

#experience-section-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#experience-education{
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 2rem;
    margin-bottom: 2rem;
}

#experience-border{
    border: 1px gray solid;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 170px;
    width: 350px;    
    text-align: center;
}

#experience-section-inner{
    display: inline-block;
    position: relative;
    top: 20px;
}

#experience-image{
    height: 40px;
}

#experience{
    font-size: 25px;
}

#eductation-image{
    height: 40px;
}

#education{
    font-size: 25px;
}

#education-border{
    border: 1px gray solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 170px;
    width: 350px;
    /* position: relative; */
    left: 200px;
    bottom: 250px;
    text-align: center;
}

#education-section-inner{
    display: inline-block;
    position: relative;
    top: 20px;
}

#about-me-content{
    width: 750px;
    line-break: auto;
}

#explore-experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explore-experiencep{
    font-weight: 300;
    font-size: 2rem;
}