@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    border: border-box;
}

body{
    font-family: "Kanit", sans-serif;
}

/* HEADER */
header{
  height: 100px;
    
}

li{
    display: inline;
}

ul{
    display: inline;
}

a{
    text-decoration: none;
    color: black;
}

#nav1{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav2{
    font-weight: 300;
    font-size: 2rem;
}

#nav3{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 1.6rem;
    gap: 40px;
    
}

#nav3 :hover{
    color: #8EA7E9;
    text-decoration-line: underline overline;
    text-underline-offset: 1rem;
    transition: all;
    transition-duration: 0.4s;
}

#nav4{
    display: none;
}

.nav5{
    display: flex;
    background-color: white;
    border-style: none;
}

.sidebar li:hover{
    background-color: lightgray;
}

.sidebar{   
    height: 140px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

@media screen and (max-width: 1300px) {
    header{
        height: 150px;  
      }
   
    #nav4{
    display: flex;
   }

   #bars-icon{
    border: 0px;
    background-color: white;
   }

   #icon{
    height: 2rem;
   }

   #bars-icon:hover{
    cursor: pointer;
   }

   #nav1{
    height: 150px;
    justify-content: space-evenly;
   }

   #nav2{
    font-weight: 300;
    font-size: 1.5rem;
   }
    #nav3{
        display: none;
    }
    
}
/* Introduction */
.About{
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#profile-pic{
    display: flex;
    border-radius: 200px; 
    height: 350px;
    width: 350px;
    background-image: url(IMG_4545.jpg);
    background-size: cover;
}

#about-me{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#hello{
    font-size: 1.3rem;
    font-weight: 300;
}

#rushabh{   
    font-size: 2.5rem;
    font-weight: 500;
}

#frontend{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
}

#download-contact{
    display: flex;
    gap: 1rem;
}

#download{
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    right: 400px;
    font-weight: bold;
    transition-property: all;
    transition-duration:0.5s;
}

#download:hover{
    cursor: pointer;
    background-color: #EF233C;
}

#contact{
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    background-color: gray;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
}

#contact:hover{
    background-color: black;
    cursor: pointer;
}   

#social-media-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}   

#linkedin-image{
    height:40px;
    width: 40px;
    border-radius: 40px;
    display: inline-block;
    position: relative;
    top: 1px;
}

#git-hub-image{
    height:40px;
    width: 40px;
    border-radius: 40px;
    display: inline-block;
    position: relative;

}

@media screen and (max-width: 1300px){
    #profile-pic{
        height: 250px;
        width: 250px;
    }
   
}

/* About me */
#know-me-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#know-me{
    font-weight:300;
    font-size: 1.1rem;
}

#me{
    font-size: 3rem;
    font-weight: 500;
}

#about-me-inner{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#experience-education{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about-me-image-outer{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

#about-me-image{
    border-radius: 2rem; 
    height: 23rem;
}

#experience-education-inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#experience-education-outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
}

#experience-border {
    border: 1px gray solid;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 170px;
    width: 350px;    
    text-align: center;
}

#experience-section-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#experience-image{
    height: 3rem;
}

#experience{
    font-size: 1.5rem;
    font-weight: 400;
}

#education-border{
    border: 1px gray solid;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 170px;
    width: 350px;
    text-align: center;
}

#education-section-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#eductation-image{
    height: 3rem;
    display: flex;
}

#education{
    font-size: 1.5rem;
    font-weight: 400;
}

#about-me-content{
    /* display: flex; */
    flex-wrap: wrap;
    width: 45rem;
}

@media screen and (max-width: 1300px){
    #about-me-image{
        height: 18rem;
    }

    #about-me-content{
        width:30rem;
    }
}

/* Experience */
#explore-experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#explore-experiencep{
    font-weight: 300;
    font-size: 1.1rem;
}

#explore-experiencep2{
    font-weight: 500;
    font-size: 3rem;
}

#experience-main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

#experience-main-section-border1{
    border-radius: 2rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 350px;
    width: 550px;
}

#awsp{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

#experience-name1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#skills-aws{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
    font-weight: 300;
    font-size: 1.2rem;
}

#experience-main-section-border2{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 2rem;
    height: 350px;
    width: 550px;
}

#fdp{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

#checkmarkimg{
    height: 2rem;
    display: inline-block;
}

#skills-fdp{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
    font-weight: 300;
    font-size: 1.2rem;
}

#project-head{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#project-head1{
    font-weight: 300;
    font-size: 1.1rem;
}

#project-head2{
    font-weight: 500;
    font-size: 3rem;
}

#project-body-border{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

#project-body-element{
    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* gap: 0.5rem; */
}

#project-image1{
    height: 15rem;
    width: 15rem;
    border-radius: 2rem;
}

#project-title1{
    font-size: 1.3rem;
    font-weight: 500;
}

#project-body-element-social{
    display: flex;
    gap: 1rem;
}

#project-github-button1{
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
}

#project-github-button2{
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
}

#contact-me{
    text-align: center;
}

#contact-me-1{
    font-weight: 300;
}

#contact-me-2{
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#contact-me-outer{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

#contact-me-border{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 2rem;
    height: 5rem;
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contact-me-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#contact-me-inner-email{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

#contact-me-inner-email :hover{
    color: #8EA7E9;
    text-decoration-line: underline;
    text-underline-offset: 1rem;
    transition: all;
    transition-duration:0.4s;
}
#contact-me-email{
    height: 2rem;
}

#contact-me-linkedin{
    height: 2.1rem;
}

#footer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

#footer-ul{
    display: flex;
    gap: 2rem;
}

#footerp{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 3rem;
}